<?xml version="1.0"?>
<robot name="robotiq_arg2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robotiq_85_gazebo)/urdf/robotiq_arg2f_85_model_macro.xacro" />
  <xacro:robotiq_arg2f_85 prefix=""/>

  <xacro:include filename="$(find robotiq_85_gazebo)/urdf/roscontrol.gazebo" />
</robot>
